.example-form-field {
    width: 100%;
  }


.result {
    color: white;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


  mat-card {
    min-height: 400px;
  }