<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }
</style>

<nav class="navbar navbar-dark bg-primary mb-4">
  <a class="navbar-brand" href="#">
    <img
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
      loading="lazy"
    />
    GeoFlo
  </a>
  <!-- <p *ngIf="result" class="result">{{ result.address.LongLabel }}</p> -->
  <button
    mat-raised-button
    color="accent"
    (click)="formatCoordonates()"
    [disabled]="isLoading"
  >
    <!-- <mat-progress-spinner
      *ngIf="isLoading"
      color="primary"
      mode="indeterminate"
      [diameter]="20"
    >
    </mat-progress-spinner> -->
    <span>Convert</span>
  </button>
</nav>

<div class="container-fluid h-100">
  <!-- <mat-card>
    <div class="row">
      <div class="col-sm">
        <mat-form-field class="example-form-field">
          <mat-label>Latitude</mat-label>
          <input matInput type="text" [(ngModel)]="latitude" />
          <button
            mat-button
            *ngIf="latitude"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="latitude = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field class="example-form-field">
          <mat-label>Longitude</mat-label>
          <input matInput type="text" [(ngModel)]="longitude" />
          <button
            mat-button
            *ngIf="longitude"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="longitude = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <button mat-raised-button color="accent" (click)="findLocation()">
          Find Location
        </button>
      </div>
    </div>
  </mat-card> -->
  <div class="row mt-4">
    <div class="col-sm mb-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Add bulk coordinates</mat-card-title>
        </mat-card-header>
        <mat-form-field class="w-100">
          <textarea
            matInput
            [(ngModel)]="bulkList"
            placeholder="Copy here"
            rows="20"
          ></textarea>
        </mat-form-field>
      </mat-card>
      <!-- <button mat-raised-button color="accent" (click)="formatCoordonates()">
        Format
      </button> -->
    </div>
    <div class="col-sm mb-4">
      <mat-card class="h-100">
        <mat-card-header>
          <mat-card-title>Formatted coordinates</mat-card-title>
        </mat-card-header>
        <p *ngFor="let coordinates of formattedList">
          {{ coordinates.latitude }} {{ coordinates.longitude }}
        </p>
      </mat-card>
      <!-- <button mat-raised-button color="accent" (click)="convertToAddress()">
        Format
      </button> -->
    </div>
    <div class="col-sm mb-4">
      <mat-card class="h-100">
        <mat-card-header>
          <mat-card-title>Converted addresses</mat-card-title>
        </mat-card-header>
        <div class="align-center">
          <mat-progress-spinner
            *ngIf="isLoading"
            color="primary"
            mode="indeterminate"
          >
          </mat-progress-spinner>
        </div>
        <p *ngFor="let item of addresses">{{ item }}</p></mat-card
      >
    </div>
  </div>
</div>

<router-outlet></router-outlet>
